<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">Campy</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <div class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link active" href="/">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/campgrounds">Campgrounds</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/campgrounds/new">New Campground</a>
              </li>
          </div>
          <div class="navbar-nav ml-auto">
            <% if (!currentUser) { %>
                <a class="nav-link" href="/login">Login</a>
                <a class="nav-link" href="/register">Register</a>
            <% } else { %>
                <a class="nav-link" href="/logout">Logout</a>
                <span class="nav-link">Welcome, <%= currentUser ? currentUser.username : 'Guest' %></span>
            <% } %>
        </div>
      </div>
  </div>
</nav>